{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ grades.Last_name }}, {{ grades.First_name }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">SSN: {{ grades.SSN }}</li>
        <li class="list-group-item">Test 1: {{ grades.Test1 }}</li>
        <li class="list-group-item">Test 2: {{ grades.Test2 }}</li>
        <li class="list-group-item">Test 3: {{ grades.Test3 }}</li>
        <li class="list-group-item">Test 4: {{ grades.Test4 }}</li>
        <li class="list-group-item">Final Grade: {{ grades.Final }}</li>
        <li class="list-group-item">Grade: {{ grades.Grade }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{grades.id}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{grades.id}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>


{% endblock %}

